@charset "utf-8";
.main {
    margin: 0 auto;
    max-width: 640px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.close-btn {
    position: absolute;

    width: 30px;
    height: 20px;
}

.close-btn b {
    position: absolute;

    width: 14px;
    height: 2px;

    font-size: 0;
    line-height: 0;
    vertical-align: middle;

    background: #fff;

    -webkit-transform: rotate(45deg);

    cursor: pointer;
}

.close-btn b:after {
    display: block;

    width: 14px;
    height: 2px;

    background: #fff;

    -webkit-transform: rotate(-90deg);

    content: ".";
}

.global-tit {
    height: .9rem;

    font-size: .32rem;
    line-height: .9rem;

    color: #010101;
    background: #fff;
}

.global-tit i img {
    display: inline-block;

    margin: 0 .2rem 0 .3rem;
    width: .22rem;
    height: .22rem;
}

.green-icon {
    background: #9d3;
}

.blue-icon {
    background: #7bf;
}

.yellow-icon {
    background: #fb0;
}

.grey-icon {
    background: #c0c0c0;
}

.green-icon2 {
    position: relative;

    border: 1px solid #9d3;
    height: .29rem;

    font-size: .18rem;
    line-height: .29rem;

    color: #9d3 !important;
}

.green-icon2 i {
    position: absolute;
    top: 0;
    left: -.15rem;

    width: .3rem;
    height: .3rem;

    background: url(../img/pro-icon.png) no-repeat;
    background-size: 100% 100%;
}

.goback {
    display: none;

    position: fixed;
    right: .33rem;
    bottom: 1.34rem;
    z-index: 2;

    width: 1rem;
    height: 1rem;
}

.goback a {
    display: block;

    width: 100%;
    height: 100%;

    background: url(../img/goback.png) no-repeat;
    background-size: 100%;
}

.app-download-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;

    box-sizing: border-box;
    padding: 0 .3rem 0 .17rem;
    padding-top: .19rem;
    width: 100%;
    height: .98rem;

    font-size: .22rem;

    color: #fff;
    background: rgba(0, 0, 0, .8);
}

.app-download-bottom h2 {
    float: left;

    width: .6rem;
    height: .6rem;
}

.app-download-bottom img {
    display: block;
}

.app-download-bottom p {
    float: left;

    padding-left: .18rem;
    width: 2.9rem;

    line-height: .32rem;
}

.app-download-bottom a {
    float: left;

    border-radius: 6px;
    width: 1.5rem;
    height: .5rem;

    line-height: .5rem;
    text-align: center;

    color: #333;
    background: #fff;
}

.app-download-bottom .close-btn {
    top: .4rem;
    right: .3rem;

    width: 30px;
    height: 20px;

    background: none;
    ;
}


/*index.css*/

.top-tips {
    position: relative;

    height: .6rem;

    font-size: .22rem;
    line-height: .6rem;
    text-align: center;

    background: #666;
}

.top-tips a {
    display: inline-block;

    width: 85%;
    height: 100%;

    color: #fff;
}

.top-tips .close-btn {
    top: .23rem;
    right: 0;

    width: 30px;
    height: 20px;
}

.header {
    box-sizing: border-box;
    padding: 0 .3rem;
    height: .88rem;

    font-size: .26rem;

    background: #fefefe;
}

.header h1 {
    position: relative;

    width: 3.9rem;
    height: 100%;
}

.header h1 a {
    display: block;

    padding-top: .24rem;
    width: .86rem;
    height: .4rem;
}

.login-box {
    margin-top: .19rem;
    width: 1.85rem;
}

.login-box a {
    float: left;

    margin-left: .3rem;
    border-bottom: 1px solid #999;
    width: .6rem;

    line-height: .46rem;
    text-align: center;

    color: #999;
}

.no-swiper {
    width: 100%;
    height: 3rem;
}

.img-slide {
    width: 100%;
}

.img-slide a,
.img-slide img {
    display: block;
}

.img-slide .swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    background: url(../img/focus-status.png) -25px 0;
}

.img-slide .swiper-pagination-bullet-active {
    background-position: 0 0;
}

.hot-product {
    margin-bottom: .1rem;
    padding-left: .3rem;
    height: 5rem;

    background: #fff;
}

.hot-list a {
    display: block;

    width: 100%;

    color: #999;
}

.hot-list .swiper-slide {
    box-sizing: border-box;
    width: 85.2459%;
}

.hot-list dl {
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 6px;
    width: 100%;
    height: 2.3rem;
}

.hot-list dt {
    float: left;

    box-sizing: border-box;
    border-right: 1px solid #eee;
    padding-top: .38rem;
    width: 2.16rem;
    height: 100%;

    text-align: center;
}

.hot-list dt h3 {
    font-size: .53rem;
    line-height: 1.2rem;

    color: #f60;
}

.hot-list p {
    font-size: .22rem;
    line-height: .22rem;
}

.hot-list dd {
    float: left;

    box-sizing: border-box;
    padding-left: .2rem;
    width: 3rem;
}

.hot-list dd:nth-child(1) {
    border-bottom: 1px solid #eee;
}

.hot-list dd h4 {
    height: .69rem;

    font-size: .24rem;
    line-height: .69rem;
}

.hot-list dd:nth-child(odd) {
    padding-top: .27rem;
}

.hot-list dd:nth-child(odd) p {
    line-height: .57rem;
}

.hot-list dd span {
    color: #737373;
}

.hot-list form {
    margin-top: .2rem;
    height: .6rem;
}

.hot-list .buy-box {
    float: left;

    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: .1rem;
    width: 3.8rem;
    height: 100%;

    background: #fff;
}

.buy-box span {
    float: left;

    border-right: 1px solid #e0e0e0;
    width: 1.09rem;
    height: .38rem;

    font-size: .2rem;
    line-height: .38rem;
    text-align: center;
}

.buy-box input {
    float: left;

    border: none;
    padding-left: .12rem;
    width: 2.46rem;
    height: 100%;

    font-size: .2rem;
}

.borderB {
    border-bottom: 1px solid #eee;
}

#hot-list {
    height: 4rem;
}

.hot-list .sub-btn {
    float: left;

    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 1.4rem;
    height: .6rem;

    font-size: .2rem;

    color: #fff;
    background: #fb0;
}

.hot-product .swiper-pagination-bullet {
    width: 12px;
    height: 12px;

    background: url(../img/focus-status2.png) -25px 0;
}

.hot-product .swiper-pagination-bullet-active {
    background-position: 0 0;
}

.poduct {
    padding-bottom: .94rem;

    background: #fff;
}

.product-list {
    border-top: 1px solid #e0e0e0;
    padding-bottom: 1rem;
}

.product-list li {
    position: relative;

    border-bottom: 1px solid #e0e0e0;
    padding: 0 .3rem;
}

.product-list a {
    display: block;
}

.list-tit {
    height: 1.13rem;
}

.list-tit h2 {
    float: left;

    font-size: .26rem;
    line-height: 1.13rem;

    color: #000;
    ;
}

.list-tit span {
    float: right;

    margin-top: .45rem;
    margin-left: .1rem;
    border-radius: .3rem;
    padding: 0 .12rem;
    height: .3rem;

    font-size: .18rem;
    line-height: .3rem;

    color: #fff;
}

.list-tit .green-icon2 {
    padding: 0 .1rem 0 .3rem;
}

.product-list dl {
    margin-bottom: .53rem;
}

.product-list dt {
    float: left;

    width: 2.22rem;
}

.product-list dd {
    float: left;

    box-sizing: border-box;
    border-left: 1px solid #e0e0e0;
    padding-left: .3rem;
    width: 3.58rem;
}

.product-list dt h3 {
    margin-bottom: .07rem;

    font-size: .37rem;
    line-height: .43rem;

    color: #f60;
}

.product-list dt h3 span {
    font-size: .2rem;

    color: #fb0;
}

.product-list dd p,
.product-list dt p {
    font-size: .22rem;
    line-height: .5rem;
}

.detail-icon {
    position: absolute;
    top: 1.5rem;
    right: .3rem;

    width: 13px;
    height: 22px;

    background: url(../img/left-arrow.jpg) no-repeat;
}

.progress-box {
    position: relative;

    width: 100%;
    height: 1px;
}

.progress-box span {
    display: block;

    position: absolute;
    bottom: .15rem;
    left: 10%;

    width: 40px;

    font-size: .2rem;
    text-align: center;

    color: #fb0;
}

.product-list .line {
    position: relative;
    bottom: -1px;

    width: 10%;
    height: 1px;

    background: #fb0;
}

.progress-bar {
    position: absolute;
    top: -7px;
    left: 10%;

    border-radius: 15px;
    width: 40px;
    height: 15px;

    background: #fb0;
}

.progress-bar span {
    position: absolute;
    top: -30px;
    left: -20px;

    width: 80px;

    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #fb0;
}

#scroller-content {
    position: relative;
    z-index: 1;
}

#wrapper {
    position: relative;

    background: #fff;
}

.loading-more {
    position: absolute;
    bottom: -.8rem;
    left: 2.8rem;

    width: 2.9rem;
    height: .6rem;

    font-size: 12px;

    background: url(../img/loading-more.jpg) no-repeat;
    background-size: .29rem .22rem;
}


/*no-data*/

.no-data-alien {
    width: 100%;
    height: 100%;

    background: #f5f6f7;
}

.no-data-alien img {
    display: block;

    margin: .76rem auto 0;
    width: 2.86rem;
    height: 3.65rem;
}

.no-data-alien div {
    margin: .2rem auto .6rem;
    width: 2.9rem;

    font-size: .36rem;
    text-align: center;

    color: #505050;
}

.no-data-alien button {
    display: block;

    margin: 0 auto;
    border: 1px solid #505050;
    border-radius: .1rem;
    width: 2.2rem;
    height: .7rem;

    color: #505050;
    background: #f5f6f7;
}
